DEBUG=1
SECRET_KEY=w7a8a@lj8nax7tem0caa2f2rjm2ahsascyf83sa5alyv68vea
ALLOWED_HOSTS=localhost 127.0.0.1 [::1] <your_app_url>
CSRF_TRUSTED_ORIGINS=https://<your_app_url>
SECURE_SSL_REDIRECT=0


DBNAME=django_images
DBUSER=postgres
DBPASS=postgres
DBHOST=127.0.0.1


# DBNAME=django-images
# DBHOST=django-images-db.postgres.database.azure.com
# DBUSER=<DB_USER>
# DBPASS=<DB_PASSWORD>


AZURE_ACCOUNT_NAME=<AZURE_ACCOUNT_NAME>
AZURE_ACCOUNT_KEY=<AZURE_ACCOUNT_KEY>